{% extends 'hiddify-flask-admin/modern_list.html' %}

{% block body %}
    {{super()}}

    <style>
        .table td{
            vertical-align: middle;
        }
        .col-name{
            white-space: nowrap;
        }
    .col-UserLinks a{
        text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 140px;
    overflow: hidden;
    }
    .col-uuid span{
        text-overflow: ellipsis;
    white-space: nowrap;
    width: 80px;
    overflow: hidden;
    display: inline-block;
    }
    </style>
{% endblock %}