{% set region = {
    'zh': 'cn',
    'cn': 'cn',
    'ir': 'ir',
    'ru': 'ru'
}.get(hconfigs['country'], 'cn') %}

{
  "route": {
    "rule_set":[
         {
            "tag":"geoip-{{region}}",
            "type":"remote",
            "format":"binary",
            "update_interval":"1d",
            "url":"https://raw.githubusercontent.com/Chocolate4U/Iran-sing-box-rules/rule-set/geoip-{{region}}.srs"
         },
         {
            "tag":"geosite-{{region}}",
            "type":"remote",
            "format":"binary",
            "update_interval":"1d",
            "url":"https://raw.githubusercontent.com/Chocolate4U/Iran-sing-box-rules/rule-set/geosite-{{region}}.srs"
         }
    ],
    // "domainStrategy": "AsIs",
    "final": "freedom",
      "rules": [
        {"action":"sniff"},
        {
            "action": "hijack-dns",
            "port": [53]
        },
        {
            "action": "hijack-dns",
            "protocol": "dns",
        },
        {
          "protocol": "quic",
          "port": [443],
          "action":"reject",
          "method": "default"
        },
        {# Use a Routing Rule on the admin panel (Match Inbound(s) now lists
           mieru/naive/tuic/hysteria2, in addition to xray-only tags) to send
           any inbound's traffic to any outbound, e.g. mieru -> an
           amneziawg-protocol Outbound - fully admin-controlled instead of a
           fixed toggle. #}
        {% set extra = hconfigs.get('additional_configs_singbox','') | from_json %}
        {% for rule in extra.get('routing_rules', []) %}
        {{ rule | tojson }},
        {% endfor %}
        {% if hconfigs['block_iran_sites'] %}
        {
          "action":"reject","method":"default",
             "rule_set":[
              "geoip-{{region}}", "geosite-{{region}}"
             ]
        },
        {%endif%}
        {
          "action": "reject", "ip_is_private": true
        }
        // {// Block BitTorrent protocol
        //   "type": "field",  "protocol": ["bittorrent"],"action":"reject","method": "default"
        // },
      ]
    }
  

}
