{
  "routing": {
    // "domainStrategy": "AsIs",
    "domainStrategy": "IPOnDemand",
    "domainMatcher":"hybrid",
    
      "rules": [
        {
          "type":"field",
          "outboundTag": "freedom",
          "ip": [
            "127.0.0.1",
            {{exec("ip -o -4 addr show | awk '{print $4}' | cut -d/ -f1 | sed 's/.*/\"&\"/' | tr '\n' ',' ")}}
          ],
          "port":"443,80,53"
        },
        
        { //DNS Cache rule
          "type": "field", "port": 53, "network": "tcp,udp", "outboundTag": "DNS-Internal"
        },
        { //block quic
          "type": "field", "port": 443, "network": "udp", "outboundTag": "blackhole"
        },
        {
          "inboundTag": ["api"], "outboundTag": "api", "type": "field"
        },
        {
          "type": "field", "outboundTag": "blackhole", "ip": ["geoip:private"]
        },
        {// Block BitTorrent protocol
          "type": "field", "outboundTag": "blackhole", "protocol": ["bittorrent"]
        },
        {% set extra = hconfigs.get('additional_configs_xrayjson','') | from_json %}
        {% for rule in extra.get('routing_rules', []) %}
        {{ rule | tojson }},
        {% endfor %}
        {
          "type": "field",
          "port": "0-65535",
          "outboundTag": "freedom"
        }
      ]
    
  }

}
